/**
 * Preview Gallery
 */

.lipnamo-preview {
    max-width:800px; min-height:400px;
    background-color:#fff;
    border:#ccd0d4 solid 1px;
    margin-bottom:20px;
    overflow-x:auto;
}

.lipnamo-preview__list {
    display:flex;
    flex-wrap:wrap;
}

.lipnamo-preview__list {
    padding:10px;
}

.lipnamo-preview__list li {
    width:25%;
}

.lipnamo-preview__list li span {
    display:block;
    padding:10px;
    margin:5px;
    background:#eee;
    border:#d5d9dd solid 1px;
}

.lipnamo-preview__list li img {
    height:auto;
    max-height:100%;
    width:auto;
    max-width:100%;
}